@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  


@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
    

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;

}

.q{
    color: rgb(20, 116, 116);
}

section{
    height: 100vh;
    display: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;   
    font-family: Roboto Mono;
    font-size: 16px;
    max-width: 100%;
}


@media (max-width: 400px) {
  }


.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    max-width: 100%;
}

.one {
   background-color: powderblue;
   max-width: 100%;
   background-size: cover;
    text-align: center;
}

.two{
    background: grey;
    max-width: 100%;
    background-size: cover;
}

.three{
    background-color: rgb(56, 91, 124);
    max-width: 100%;
    background-size: cover;
}


.four{
     background-image : url(22.jpg);
     max-width: 100%;
     background-size: cover;
}

.fifth{
    background-image : url(1.jpg);
    max-width: 100%;
    background-size: cover;
}

.sixth{
    background-image : url(2.jpg);
    max-width: 100%;
    background-size: cover;

}


.seven{
    background-image : url(4.jpg);
    max-width: 100%;
    background-size: cover;
}

.eight{
    background-image : url(8.png);
    background-size: cover;
    max-width: 100%;
}

.nine{
    background-image : url(66.jpg);
    background-size: cover;
    max-width: 100%;
}


.tenth{
    background-image : url(99.jpg);
    background-size: cover;
    max-width: 100%;
}

.eleven{
    background-image : url(blk.png);
    background-size: cover;
    max-width: 100%;
}

.twelve{
    background-image : url(4444.jpg);
    background-size: cover;
    max-width: 100%;
}

.thirteen{
    background-image : url(8888.jpg);
    background-size: cover;
    max-width: 100%;
}

.fourteen{
    background-image : url(9999.jpg);
    background-size: cover;
    max-width: 100%;
}



.fifteen{
    background-color: black;
    padding-top: 21%;
    max-width: 100%;
    background-size: cover;
}

